# python
__pycache__/
*.py[cod]
.venv/

# notebook
*.ipynb_checkpoints

# R
*.RData
*.Rhistory

# experiments
*/experiments/*/
*/experiments/*.json
*.zip
*.tar.gz

# datasets
datasets/.temp/
datasets/*/

# previous results
*/previous/*/
*/previous/*.json

# build
*.egg-info/
dist/
build/
pip-wheel-metadata/

# tests
.coverage*
.pytest_cache/
.mypy_cache/
.hypothesis/

# documentation
site/

# various
poetry.lock
pdm.lock

# editors (you should put this in your global gitignore though)
# git config --global core.excludesfile ~/.gitignore_global
.idea/
.vscode/

# temporary analysis
.temp/
*.temp/

# credentials
credentials.py
