# JUPYTER DEPENDENCIES

jupyter  # jupyter notebook.
ipykernel  # python kernel.

# PYTHON DEPENDENCIES

cognitivefactory-interactive-clustering==0.5.4  # interactive clustering.
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.1.0/fr_core_news_md-3.1.0.tar.gz  # spacy language model (the one you want, with version "3.1").
cognitivefactory-features-maximization-metric==0.1.1  # Features Maximization Metric.
datasets  # Hugging Face datasets.
matplotlib  # graph management.
openai  # llm call.
openpyxl  # XLSX file management.
pandas  # data management.
simpledorff  # Krippendorff's alpha.
tabulate  # pandas display.
tqdm  # bar progress.
xlsxwriter  # XLSX file management.