# JUPYTER DEPENDENCIES

jupyter  # jupyter notebook.
ipykernel  # python kernel.

# PYTHON DEPENDENCIES

cognitivefactory-interactive-clustering==0.5.4  # interactive clustering.
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.1.0/fr_core_news_md-3.1.0.tar.gz  # spacy language model (the one you want, with version "3.1")
cognitivefactory-features-maximization-metric==0.1.1  # Features Maximization Metric.
matplotlib  # graph management.
pandas  # data management.
openpyxl  # xlsx file management
tqdm  # bar progress.
xlsxwriter  # xlsx file management

# DATASET DEPENDENCIES
datasets  # Hugging Face

# DEV DEPENDENCIES

black>=21.10b0  # code formatting.
black[jupyter]  # code formatting.
isort>=5.7.0  # code formatting.
mypy>=0.812  # type checking.
darglint>=1.5.8  # quality checking.
autoflake>=1.4  # quality checking.
flake8-bandit>=2.1  # quality checking.
flake8-black>=0.2  # quality checking.
flake8-bugbear>=21.3  # quality checking.
flake8-builtins>=1.5  # quality checking.
flake8-comprehensions>=3.4  # quality checking.
flake8-docstrings>=1.6  # quality checking.
flake8-pytest-style>=1.4  # quality checking.
flake8-string-format>=0.3  # quality checking.
flake8-tidy-imports>=4.2  # quality checking.
flake8-variables-names>=0.0  # quality checking.
pep8-naming>=0.11.1  # quality checking.
wps-light>=0.15.2  # quality checking.